<div class="about-me-wrap">

    <div class="about-me-container">
        <img src="../../assets/img/Passfoto.png">
        <div>
            <h3>About me.</h3>
            <span>"I'm a sports lover and front end developer who wants to expand his expertise."  </span>
        </div>
    </div>

    <div data-aos="fade-right" data-aos-duration="1000" class="space-div"></div>

    <div class="my-journey-wrap">
        <div class="journey-container">
            <div class="icon-container">
                <img src="../../assets/img/icons/walk-line.png">
            </div>
            <div class="my-journey">
                <h3>I STARTED</h3>
                <span>as a Food Technology Expert, where i combined my experience as cook with technical requirements. In reason of a desease I had to quit the job and searched about a new challenge and i got the idea of getting into tech. </span>
            </div>
        </div>

        <div class="journey-container">
            <div class="icon-container">
                <img src="../../assets/img/icons/search-line.png">
            </div>
            <div class="my-journey">
                <h3>MY SEARCH</h3>
                <span>began in studying as a industial engineer and I got in touch with programming the first time. Soon i realised I want to code and so after some time of searching I decided to go to the Developer Akademie. They teach you the essentials you need to become a front end developer, as well as work in a team on your own pace and build your own projects.</span>
            </div>
        </div>

        <div class="journey-container">
            <div class="icon-container">
                <img src="../../assets/img/icons/heart-line.png">
            </div>
            <div class="my-journey">
                <h3>MY PASSION</h3>
                <span>was always computers and tech. I was spending a lot of time playing video games even as a child. I always wanted to to get in touch with coding and creating my own apps and know I had the chance to risk it.</span>
            </div>
        </div>

        <div class="journey-container">
            <div class="icon-container">
                <img src="../../assets/img/icons/flight-takeoff-line.png">
            </div>
            <div class="my-journey">
                <h3>MY JOURNEY</h3>
                <span>began with learning HTML and CSS. I had so much fun with coding that even after eight hours of working I wanted to learn more about coding. My curiosity and the fun i had while coding let me realise that I made the correct decision.</span>
            </div>
        </div>
    </div>

</div>