<div class="about-me-wrap">

    <div class="about-me-container">
        <img src="../../assets/img/Passfoto.png">
        <div>
            <h3>About me.</h3>
            <span>"I'm a sports lover and front end developer who wants to expand his expertise."  </span>
        </div>
    </div>


    <div class="my-journey-wrap">
        <div class="journey-container">
            <div class="icon-container">
                <img src="../../assets/img/icons/walk-line.png">
            </div>
            <div class="my-journey">
                <h3>I STARTED</h3>
                <span>Thats a example text.Thats a example text.Thats a example text.Thats a example text.Thats a example text.</span>
            </div>
        </div>

        <div class="journey-container">
            <div class="icon-container">
                <img src="../../assets/img/icons/search-line.png">
            </div>
            <div class="my-journey">
                <h3>MY SEARCH</h3>
                <span>Thats a example text.Thats a example text.Thats a example text.Thats a example text.Thats a example text.</span>
            </div>
        </div>

        <div class="journey-container">
            <div class="icon-container">
                <img src="../../assets/img/icons/heart-line.png">
            </div>
            <div class="my-journey">
                <h3>MY PASSION</h3>
                <span>Thats a example text.Thats a example text.Thats a example text.Thats a example text.Thats a example text.</span>
            </div>
        </div>

        <div class="journey-container">
            <div class="icon-container">
                <img src="../../assets/img/icons/flight-takeoff-line.png">
            </div>
            <div class="my-journey">
                <h3>MY JOURNEY</h3>
                <span>Thats a example text.Thats a example text.Thats a example text.Thats a example text.Thats a example text.</span>
            </div>
        </div>
    </div>

</div>