<div class="my-work-wrap">

    <h2 data-aos="fade-down" data-aos-duration="1000">My Work</h2>

    <div class="button-bar">
        <button data-aos="flip-right" data-aos-duration="1000" (click)="allWork()">All</button>
        <button data-aos="flip-right" data-aos-duration="1000" (click)="showAngular()">Angular</button>
        <button data-aos="flip-right" data-aos-duration="1000" (click)="showJavaScript()">Java Script</button>
    </div>




    <div class="work-container">


        <div class="project" data-aos="zoom-in" data-aos-duration="1000" id="1">
            <div class="project-hover">
                <h3>El Pollo Loco</h3>
                <span>JavaScript based small game</span>
                <a href='https://fabian-eichhorn.de/ElPolloLocco/index.html'><button>Try out</button></a>
            </div>
            <img class="project-img" src="assets/img/project1.png">
        </div>


        <div class="project" data-aos="zoom-in" data-aos-duration="1000" id="2">
            <div class="project-hover">
                <h3>Pokedex</h3>
                <span>A Pokedex build with a PokeAPI and Java Script</span>
                <a href='https://fabian-eichhorn.de/Pokedex/index.html'><button>Try out</button></a>
            </div>
            <img class="project-img" src="assets/img/project2.png">
        </div>


        <div class="project" data-aos="zoom-in" data-aos-duration="1000" id="3">
            <div class="project-hover">
                <h3>Join</h3>
                <span>Join is a Kanban-board-project build with Java Script</span>
                <a href='https://fabian-eichhorn.de/join/index.html'><button>Try out</button></a>
            </div>
            <img class="project-img" src="assets/img/project3.png">
        </div>


        <div class="project" data-aos="zoom-in" data-aos-duration="1000" id="4">
            <div class="project-hover">
                <h3>Instagram Clone</h3>
                <span>A simple Instagram Clone with comment function</span>
                <a href='https://fabian-eichhorn.de/Instagram/index.html'><button>Try out</button></a>
            </div>
            <img class="project-img" src="assets/img/project4.png">
        </div>

        <div class="project" data-aos="zoom-in" data-aos-duration="1000" id="5">
            <div class="project-hover">
                <h3>Ring of Fire</h3>
                <span> Angular based webapp with Firebase</span>
                <a href='https://ring-of-fire-fc1b2.web.app/'><button>Try out</button></a>
            </div>
            <img class="project-img" src="assets/img/project5.png">
        </div>

        <div class="project" data-aos="zoom-in" data-aos-duration="1000" id="6">
            <div class="project-hover">
                <h3>Portfolio</h3>
                <span>My portfolio build with Angular</span>
                <a href='https://fabian-eichhorn.de'><button>Try out</button></a>
            </div>
            <img class="project-img" src="assets/img/project6.png">
        </div>

    </div>



</div>