<div class="slideshow-container">
    <img class="img-slideshow" src="../assets/img/{{ images[0] }}">
</div>

<div class="slideshow-container slideshow-overlay">
    <div class="fade-in">
        <div class="row">
            <p class="p-left">Hi,</p>
        </div>
        <div class="row">
            <p class="p-left">I'm</p>
            <p class="first-name">Fabian</p>
            <p>Eichhorn</p>
        </div>
        <div class="row">
            <p class="p-left">Front</p>
            <p>End</p>
            <p>Developer</p>
        </div>
    </div>

    <div>
        <img class="portrait" src="assets/img/Passfoto.png">
    </div>

</div>


<!-- *ngIf="showImage" -->
<!-- {{ images[0] }} -->