<div class="slideshow-container">
    <img class="img-slideshow" src="../assets/img/{{ images[0] }}">
</div>

<div class="slideshow-container slideshow-overlay">
    <div class="fade-in">
        <span>Hi,</span> <br>
        <span>I'm</span>
        <span class="first-name">Fabian</span>
        <span>Eichhorn</span><br>
        <span>Front</span>
        <span>End</span>
        <span>Developer</span>
    </div>

    <div>
        <img class="portrait" src="../../assets/img/Passfoto.png">
    </div>

</div>

<!-- *ngIf="showImage" -->
<!-- {{ images[0] }} -->