<div class="contact-me-wrap">

    <h2>CONTACT ME</h2>

    <div class="icons-container">
        <div class="contact-container">
            <img src="assets/img/icons/pin-5-32.png">
            <h3 class="subheadline">Address</h3>
            <a href="#">84137 Vilsbiburg</a>
        </div>
        <div class="contact-container">
            <img src="assets/img/icons/phone-32.png">
            <h3 class="subheadline">Direct</h3>
            <a href="#">+49 0176 97906147</a>
        </div>
        <div class="contact-container">
            <img src="assets/img/icons/globe-32.png">
            <h3 class="subheadline">Web</h3>
            <a href="#">fabianeichhorn.de</a>
        </div>
    </div>

    <div class="contact-form-wrap">
        <h3>Get in touch via the form below, or by emailing</h3>
        <a href="#">testemail.com</a>
    </div>

</div>