<div class="skills-content bg-gray">

    <h2>My Skills</h2>

    <div class="skills-wrap">

        <div class="single-skill" data-aos="fade-up" data-aos-duration="1000">
            <span>Java Script</span>
            <div class="icon-container">
                <img class="icon" src="assets/img/icons/java script.png" alt="">
            </div>
        </div>
        <div class="single-skill" data-aos="fade-up" data-aos-duration="1000">
            <span>Angular</span>
            <div class="icon-container">
                <img class="icon" src="assets/img/icons/angular2.png" alt="">
            </div>

        </div>
        <div class="single-skill" data-aos="fade-up" data-aos-duration="1000">
            <span>HTML / CSS</span>
            <div class="icon-container">
                <img class="icon" src="assets/img/icons/Group 205.png" alt="">
            </div>
        </div>

        <div class="single-skill" data-aos="fade-up" data-aos-duration="1000">
            <span>SCRUM</span>
            <div class="icon-container">
                <img class="icon" src="assets/img/icons/Group 226.png" alt="">
            </div>
        </div>
        <div class="single-skill" data-aos="fade-up" data-aos-duration="1000">
            <span>Git</span>
            <div class="icon-container">
                <img class="icon" src="assets/img/icons/Git-Icon-1788C 2.png" alt="">
            </div>
        </div>
        <div class="single-skill" data-aos="fade-up" data-aos-duration="1000">
            <span>Design Thinking</span>
            <div class="icon-container">
                <img class="icon" src="assets/img/icons/Group 20.png" alt="">
            </div>
        </div>

        <div class="single-skill" data-aos="fade-up" data-aos-duration="1000">
            <span>Rest API</span>
            <div class="icon-container">
                <img class="icon" src="assets/img/icons/icons8-rest-api-80 2.png" alt="">
            </div>
        </div>
        <div class="single-skill" data-aos="fade-up" data-aos-duration="1000">
            <span>Test automation</span>
            <div class="icon-container">
                <img class="icon" src="assets/img/icons/icons8-test-lab-96 2.png" alt="">
            </div>
        </div>
        <div class="single-skill" data-aos="fade-up" data-aos-duration="1000">
            <span>Databases</span>
            <div class="icon-container">
                <img class="icon" src="assets/img/icons/icons8-database-52 2.png" alt="">
            </div>
        </div>

    </div>

</div>